@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.grid-item {
    grid-column: span 1;
}

.tast {
    z-index: 9999999999999;
}
